body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #4f2b6f;  /* standard for old browser */
	background: -webkit-linear-gradient(to bottom, #4f2b6f, #82344d);  /* used by old versions of Chrome and Safari */
	background: linear-gradient(to bottom, #4f2b6f, #82344d); /* used by up to date versions of browsers */
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.topbar {
	background-color: #06090f;
	height: 5px;
}
.body-container {
	margin: 15px;
}
.radio-group {
	width: 200px;
	margin: 10px;
	display: flex;
}

h1, h3, p, th, td, body, label{
	font-family: 'Nunito', sans-serif;
	color: white;
}

label:not(#lastSearchedOutput) {
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: auto;
    padding: 0px 15px;
	cursor: pointer;
}

#picture {
  width:64px;
  height:64px;
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
}

header > h1 {
	background: #1e2d4b;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 2px;
	
	text-shadow: 2px 2px 0px #131418;
}

#result-amount{
	display: inline-block;
	font-weight: normal; 
	float: left;
}
#last-search{
	display: inline-block;
	font-weight: normal; 
	float: left;
}
#pages{
	display: inline-block;
	font-weight: normal; 
	float: right;
}

table {
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	text-align: left;
	font-size: 14px; 
}

th {
	background-color: #344d82;
}

td {
	background-color: rgba(255,255,255,0.15);
	border-bottom: 1px solid white;
}

tr:not(:first-child):hover {
	background-color: rgba(255,255,255,0.1);
}

.project-search {
	width: 500px;
	height: 40px;
	background: #444;	/* fallback */
	background: rgba(0,0,0,.2);
	border: 1px solid white;
}
.project-search input {
	width: 370px;
	padding: 10px 5px;
	float: left;
	color: white;
	border: 0;
	background: transparent;
	border-radius: 3px 0 0 3px;
}
.project-search button {
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	width: 120px;
	color: white;
	background: transparent;
	border-left: 1px solid white;
}   
.project-search button:hover {
	background: white;
	color:black;
}
.project-search button:focus {
	outline: 0;
}