/*
 * Primary color: #192534
 * Darker primary color: #111922
 * Lighter primary color: #2b3f57
*/


body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #2b3f57;
	background: -webkit-linear-gradient(to bottom right, #2b3f57, #405267);  /* used by old versions of Chrome and Safari */
	background: linear-gradient(to bottom right, #2b3f57, #405267); /* used by up to date versions of browsers */
	background-repeat: no-repeat;
  background-attachment: fixed;

	font-family: 'Nunito', sans-serif;
	color: white;
}

.header{
	margin: 0;
	background: #192534;
}

.header-text{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-shadow: 3px 2px 0px #131418;
}

.header-seperation-bar {
	background-color: #111922;
	height: 4px;
}

.body-container {
	margin: 15px;
}

.radio-group {
	position: relative;
	display: block;
	width: 5%;
	margin: 20px;
	padding-left: 32px;
	cursor: pointer;
}

.radio-group input{
	display: none;
}

.radio-group .radio-circle{
	display: inline-block;
	position: absolute;
	left: 0;
  height: 18px;
	width: 18px;
	border: 1px solid;
	border-radius: 50%;
	border-color: #111922;
	background: rgba(255,255,255, 0.1);
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

.radio-group:hover .radio-circle{
	background: rgba(255,255,255, 0.8);
}

.radio-group input:checked + .radio-circle{
	background: #192534;
}

.radio-group input:checked + .radio-circle:after{
	position: absolute;
	height: 10px;
	width: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "";
	border-radius: 50%;
	background: #405267;
}

.project-search {
	width: 500px;
	height: 40px;
	background: rgba(255,255,255, 0.1);
	border: 1px solid;
	border-color: #111922;
}
.project-search input {
	width: 370px;
	padding: 10px 5px;
	float: left;
	color: white;
	border: 0;
	background: transparent;
	border-radius: 3px 0 0 3px;
}
.project-search button {
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	width: 120px;
	color: white;
	background: transparent;
	border-left: 1px solid;
	border-color: #111922;

	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}
.project-search button:hover {
	background: rgba(255,255,255, 0.8);
	color:black;
}
.project-search button:focus {
	outline: 0;
}

#resultArea {
	display: none;
}

#last-search{
	display: inline-block;
	float: left;
}

.page-container .page-button{
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255, 0.1);
	border: 1px solid;
	border-color: #111922;
	color: white;
	cursor: pointer;
	height: 40px;
	width: 120px;
	float: right;

	-webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

.page-container .page-button:hover{
	background: rgba(255,255,255, 0.8);
	color:black;
}

.page-container .page-button-disabled{
	display: flex;
	justify-content: center;
	align-items: center;

	background: rgba(0,0,0, 0.2);
	border: 1px solid;
	border-color: #111922;
	color: white;

	height: 40px;
	width: 120px;
	float: right;
}

.page-container #next-page{
	border-left: 0px;
}

.page-container #previous-page{
	border-right: 0px;
}

.page-container .page-label{
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255, 0.1);
	border: 1px solid;
	border-color: #111922;
	color: white;
	height: 40px;
	width: 120px;
	float: right;
}

#resultTable {
	border-collapse: collapse;
	width: 100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

th, td {
	padding: 10px;
	text-align: left;
	font-size: 14px;
}

th {
	background-color: #192534;
}

td {
	background-color: rgba(17,25,34,0.5);
	border-bottom: 2px solid;
	border-color: #192534;
}

tr:hover {
	background-color: rgba(17,25,34,0.8);
}

#picture {
  width:64px;
  height:64px;
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
}
